<h1>Create a new game</h1>

<input type="hidden" id="_id" value="{{{game._id}}}" />
<p>Name: 
    <input type="text" id="name" name="name" value="{{{game.name}}}"/>
    <p>

<button class="myButton" onclick="createGame()">Create</button>

<p id="message"></p>