<h1>Select Game</h1>
<div class="list">
    {{#each data}}
        <a class="item" href="game/{{this._id}}">
            <div class="inner-item">
                {{this.name}}
            </div>        
        </a>
    {{/each}}
</div>