<div class="full-container">
    <h1>Create New Character</h1>
    <form class="list" id="characterForm">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="class">Class</label>
            <input type="text" name="class" id="class">
        </div>
        <div>
            FOR
            <label for="str-base">Base</label>
            <input type="number" name="str-base" id="str-base">
            <label for="str-mod">Mod</label>
            <input type="number" name="str-mod" id="str-mod">
        </div>
        <div>
            DES
            <label for="des-base">Base</label>
            <input type="number" name="des-base" id="des-base">
            <label for="des-mod">Mod</label>
            <input type="number" name="des-mod" id="des-mod">
        </div>
        <div>
            COS
            <label for="cos-base">Base</label>
            <input type="number" name="cos-base" id="cos-base">
            <label for="cos-mod">Mod</label>
            <input type="number" name="cos-mod" id="cos-mod">
        </div>
        <div>
            INT
            <label for="int-base">Base</label>
            <input type="number" name="int-base" id="int-base">
            <label for="int-mod">Mod</label>
            <input type="number" name="int-mod" id="int-mod">
        </div>
        <div>
            SAG
            <label for="sag-base">Base</label>
            <input type="number" name="sag-base" id="sag-base">
            <label for="sag-mod">Mod</label>
            <input type="number" name="sag-mod" id="sag-mod">
        </div>
        <div>
            CAR
            <label for="car-base">Base</label>
            <input type="number" name="car-base" id="car-base">
            <label for="car-mod">Mod</label>
            <input type="number" name="car-mod" id="car-mod">
        </div>
        <div>
            <label for="dice">Danno</label>
            <input type="number" name="dice" id="dice">
        </div>
        <div>
            <label for="armor">Armatura</label>
            <input type="number" name="armor" id="armor">
        </div>
        <div>
            <label for="pf">PF</label>
            <input type="number" name="pf" id="pf">
        </div>
        <div>
            <label for="load">Carico</label>
            <input type="number" name="load" id="load">
        </div>
    </form>
    <div class="action-footer">
        <button class="myButton" onclick="createCharacter()">
            Create!
        </button>
    </div>
</div>