body {
  background-color: #01242D; 
  color: #9E3753;
  font-family: Marker Felt, fantasy;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
}
html {
  text-align: center;
}

p {
  color: #fafafa;
}

.myButton {
	background-color:#9E3753;
	border-radius:28px;
	border:1px solid #71273B;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#71273B;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton:disabled {
  opacity: 0.5;
  background-color: #9E3753 !important;
  cursor: auto;
}

.list {
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}


.list-row {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.item {
    width: 100%;
    height: 100px;
    display: flex;
}

.list-row .item {
  width: fit-content;
  padding: 10px;
  margin: auto 20px;
  flex-direction: column;
  max-width: 200px;
}

a.item {
    color: white;
    text-decoration: none;
}

.item:hover {
    background-color: rgba(255,255,255,0.2);
}

.item.dm-item {
  background-color: transparent !important;
  height: fit-content;
}

.item .inner-item, .item a .inner-item {
    margin: auto;
    font-size: 20px;
}

input{
  margin-left: 20px;
}

.full-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.action-footer {
    min-height: 100px;
    width: 100%;
}

.mid-footer {
  margin: auto;
  min-height: 100px;
  width: 100%;
}

.controller {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: center;

}

.controller * {
  margin: 0 10px;
}

.character-main {
  display: grid;
  grid-template-columns: auto  auto;
}

.character-details div {
  margin-top: 20px;
}

.dice-number {
  position: relative;
  bottom: 40px;
}

.dice-number-result {
  position: relative;
  bottom: 60px;
  font-size: xx-large;
}